html
    head
        title= title
    body
        h1= title
        div
            p
                | User:
                b.
                    #{email}
            hr
            a(href='/users').
                View all users
