html
    head
        title= title
    body
        h1= title
        div
            for user in users
                div
                    p
                        | User:
                        b.
                            #{user.email}
                    a(href=`/users/user/${user.id}`).
                        View
                    hr
