extends container
block content
    div
        | Hello #{userName}
        br
        | Are you forgot your password? Please, click on link for creating new password.
        a(href=resetPasswordLink) Reset password